<h2>Resend confirmation instructions</h2>
<br />

<div class="row">
  <div class="col-md-4">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), 
        :html => { :method => :post, :class => "form-vertical" }) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <div class="form-group">
        <%= f.label :email, :class => 'control-label' %>
        <%= f.email_field :email, :class => 'form-control email_field' %>
      </div>

      <div>
        <%= f.submit "Resend confirmation instructions", :class => "btn btn-primary" %>
      </div>
    <% end %>
    
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>