<div class="row">
  <div class="col-md-4">
    <h2>Resend unlock instructions</h2>
    <br />

    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), 
                           :html => { :method => :post, :class => 'form-vertical' }) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <div class="form-group">
        <%= f.label :email, :class => 'control-label' %>
        <%= f.email_field :email, :class => 'form-control email_field' %>
      </div>

      <div>
        <%= f.submit "Resend unlock instructions", :class => "btn btn-primary" %>
      </div>
    <% end %>
    
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>