<h2>Change your password</h2>
<br />

<div class="row">
  <div class="col-xs-4">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name),
        :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= f.hidden_field :reset_password_token %>
  
      <div class="form-group">
        <%= f.label :password, "New password", :class => 'control-label' %>
        <%= f.password_field :password, :class => 'form-control password_field' %>
      </div>
  
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password", :class => 'control-label' %>
        <%= f.password_field :password_confirmation, :class => 'form-control password_confirmation' %>
      </div>

      <div>
        <%= f.submit "Change my password", :class => "btn btn-primary" %>
      </div>
    <% end %>

    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>