<h1>About RevTilt</h1>

<div class="row">
  <div class="col-md-8">
    <p>
      RevTilt is a platform to collect information and reviews about how accommodating businesses
      are of customers with special needs.
      This first version is helping those on the Autism spectrum.
    </p>
    
    <p>
      Users benefit from the reviews left on sites like <%= link_to "Yelp", "http://www.yelp.com", :target => "_blank" %>,
      while also benefiting from a parallel set of reviews from other users with similar constraints.
    </p>
    
    <h4>Scenario</h4>
    <p>
      Imagine you are a parent of a child who is on the autism spectrum and that you are out of town visiting relatives.
      Your child has cut his/her own hair and you need to find a barber to give your child a haircut. 
      Searching Yelp for good salons or barber shops won't give you sufficient information.
      You want to find a barber who will be accommodating of your child's special needs.
    </p>
    
    <h4>Open Data</h4>
    <p>
      This is an open platform. The software is open source and available on 
      <%= link_to "Github", APP_CONFIG["github_repo"], :target => "_blank" %>.
      Data collected using RevTilt is also freely available, so developers can create amazing tools like
      mobile phone apps and web services that are built to help people like you.
    </p>
    
    <h4>Please Help</h4>
    <p>
      We all benefit by sharing our collective knowledge with each other.
    </p>
  </div>
  
  <div class="col-md-4">
    <div class="well">
      <p>
        <%= link_to "Cyrus Stoller", "http://www.cyrusstoller.com/", :target => "_blank" %> 
        wrote the original software powering RevTilt and is maintaining the open source project.
      </p>
      
      <p>
        Go to the <%= link_to "Github wiki", APP_CONFIG["github_repo"] + "/wiki/Contributors", :target => "_blank" %> 
        for a full list of contributors to this open source project.
      </p>
    </div>
    
    <div class="well">
      <p>
        Email <%= link_to "revtilt@gmail.com", "mailto:revtilt@gmail.com" %> with questions and suggestions for how to improve RevTilt. 
        We'd love to hear from you.
      </p>
      
      <p>
        Also please file bugs/issues and submit pull requests on <%= link_to "Github", APP_CONFIG["github_repo"], :target => "_blank" %>.
      </p>
    </div>
  </div>
</div>