<h3>In the news</h3>

<p>
  <code>May 03, 2013</code>
  &nbsp;
  <%= link_to "'Hackathon' Yields Review Site For Autism-Friendly Businesses", "http://blogs.edweek.org/edweek/speced/2013/05/hackathon_yields_review_site_g.html" %>
  <span class="muted">( edweek.org )</span>
</p>

<p>
  <code>Apr 30, 2013</code>
  &nbsp;
  <%= link_to "Developers dive in to create a wealth of autism apps", "http://www.latimes.com/business/la-fi-apple-autism-20130430,0,2782344.story" %>
  <span class="muted">( latimes.com )</span>
</p>

<p>
  <code>Apr 29, 2013</code>
  &nbsp;
  <%= link_to "Connecting Communities: AT&T Brings Developers and Autism Experts Together to Hack Autism", "http://www.attinnovationspace.com/innovation/story/a7789440" %>
  <span class="muted">( attinnovationspace.com )</span>
</p>

<p>
  <code>Apr 22, 2013</code>
  &nbsp;
  <%= link_to "Miss Montana: How apps can help hack autism", "http://www.cnn.com/2013/04/22/opinion/opinion-keen-autism-wineman/index.html" %>
  <span class="muted">( cnn.com ) &ndash;</span>
  <span class="muted">RevTilt was originally called "Puzzled"</span>
</p>

<p>
  <code>Apr 19, 2013</code>
  &nbsp;
  <%= link_to "AT&T-Autism Speaks Mobile App Hackathon Winners", "http://blog.sfgate.com/lshumaker/2013/04/19/att-autism-speaks-mobile-app-hackathon-winners/" %>
  <span class="muted">( sfgate.com ) &ndash;</span>
  <span class="muted">RevTilt was originally called "Puzzled"</span>
</p>
