<div class="row">
  <div class="col-xs-4">
    <h2>Sign in</h2>
    <br />

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-vertical' }) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <div class="form-group">
        <%= f.label :login, :class => 'control-label' %>
        <%= f.text_field :login, :class => 'form-control login_field' %>
      </div>

      <div class="form-group">
        <%= f.label :password, :class => 'control-label' %>
        <%= f.password_field :password, :class => 'form-control password_field' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <label class="checkbox">
            <%= f.check_box :remember_me %>
            Remember me
          </label>
        </div>  
      <% end -%>

      <div>
        <%= f.submit "Sign in", :class => 'btn btn-primary' %>
      </div>
    <% end %>

    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>