<%= form_for @organization, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field span6' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :category_id, options_for_select(Organization.category_options), {}, :class => "span6" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field span6', :placeholder => "e.g. 'www.yelp.com/biz/...'" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field span6', :placeholder => "e.g. 1600 Pennsylvania Ave NW, Washington DC, 20006" %>
    </div>
  </div>
  
  <% if can? :manage, :all %>
    <div class="control-group">
      <%= f.label :latitude, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :latitude, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :longitude, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :longitude, :class => 'text_field' %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organizations_path, :class => 'btn' %>
  </div>
<% end %>
