<table class="table table-hover">
  <tbody>
    <% organizations.each do |organization| %>
      <tr>
        <td class="span6">
          <span class="label"><%= organization.category_text %></span>&nbsp;
          <%= link_to organization.name, organization %> <span class="muted one-line"><%= organization.display_location %></span>
          <% if can? :edit, organization %>
            <span class="one-line muted">
              | <%= link_to "edit", edit_organization_path(organization), :class => "muted" %>
            </span>
          <% end %>
          <% if can? :destroy, organization %>
            <span class="one-line muted">
              | <%= link_to "destroy", organization_path(organization), :method => :delete, :confirm => "Are you sure?", :class => "muted" %>
            </span>
          <% end %>
        </td>
        <td>
          <%= content_tag :div, :class => "stars inline", "data-score" => organization.reviews.average(:rating), "data-readonly" => true do end %>
          <span class="one-line"><%= pluralize organization.reviews.count, "Review" %></span>
        </td>
        <td>
          <%= render "relationships/organization_users/favorite_form", :organization => organization %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate organizations, :class => "pagination pagination-centered" %>