<% with_join_columns ||= false %>

<table class="table table-hover">
  <tbody>
    <% organizations.each do |organization| %>
      <tr>
        <td class="col-md-7">
          <span class="label"><%= organization.category_text %></span>&nbsp;
          <%= link_to organization.name, organization %> <span class="muted one-line"><%= organization.display_location %></span>
          <% if can? :edit, organization %>
            <span class="one-line muted">
              | <%= link_to "edit", edit_organization_path(organization), :class => "muted" %>
            </span>
          <% end %>
          <% if can? :destroy, organization %>
            <span class="one-line muted">
              | <%= link_to "destroy", organization_path(organization), :method => :delete, :data => { :confirm => "Are you sure?" }, 
                    :class => "muted" %>
            </span>
          <% end %>
        </td>
        <td>
          <% if with_join_columns %>
            <% num_reviews = organization.num_reviews || 0 %>
            <% avg_review =  organization.avg_review || 0 %>
          <% else %>
            <% num_reviews = organization.cache_review_stats.with_condition(0).first.num_reviews rescue 0 %>
            <% avg_review =  organization.cache_review_stats.with_condition(0).first.avg_review rescue 0 %>
          <% end %>
          
          <%= content_tag :div, :class => "stars inline", "data-score" => avg_review, "data-readonly" => true do end %>
          <span class="one-line"><%= pluralize num_reviews, "Review" %></span>
        </td>
        <% if signed_in? %>
          <td>
            <%= render "relationships/organization_users/favorite_form", :organization => organization %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate organizations, :class => "pagination pagination-centered" %>