<%- model_class = Organization -%>

<%= content_for :above_iframe do %>
  <div class="add-small-top pull-right">
    <%= render "relationships/organization_users/favorite_form", :organization => @organization %>  
  </div>
  <div class="pull-right add-small-top">
    <%= content_tag :div, :class => "stars inline", "data-score" => @organization.reviews.average(:rating), "data-readonly" => true do end %>
    &nbsp;
    ( <%= pluralize @organization.reviews.count, "Rating" %> )
    &nbsp;
  </div>

  <h1>
    <%= @organization.name %>
    <small><span class="one-line">( <%= @organization.category_text %> )</span></small>
  </h1>

  <%= link_to "See Full Review", @organization.url, :target => "_blank" %>
  | <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_organization_path(@organization) %>
  | <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              organization_path(@organization),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
<% end %>

<%= content_for :unbounded do %>
  <div class="center review_iframe">
    <%= content_tag :iframe, :id => "review_content", :src => @organization.url, :width => "1024px", :height => "300px" do end %>
  </div>
<% end %>

<h3>Reviews (<%= @reviews.count %>)</h3>

<%= render @reviews %>

<div class="review_form">
  <%= render "reviews/inline_form", :redirect => organization_path(@organization) %>
</div>