<%= form_for @review, :html => { :class => 'form-vertical' } do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  
  <div class="form-group">
    <%= f.label nil, "Organization Name" %>
    <%= text_field_tag nil, (@review.organization.name rescue "N/A"), :disabled => "disabled", :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label nil, "Location" %>
    <%= text_field_tag nil, (@review.organization.display_location rescue nil), :disabled => "disabled", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content, "My Review" %>
    <%= f.text_area :content, :class => 'text_area form-control', :rows => 5, :placeholder => "Write your review here" %>
  </div>
  <%= f.hidden_field :rating, :class => "rating" %>
  
  <% if current_user.admin? %>
    <div class="form-group">
      <%= f.label :condition_id %>
      <%= f.number_field :condition_id, :class => "form-control" %>
      <span class"helper-block">Only edit this if you're sure of what you're doing</span>
    </div>
    
    <div class="form-group">
      <%= f.label :organization_id %>
      <%= f.number_field :organization_id, :class => "form-control" %>
      <span class"helper-block">Only edit this if you're sure of what you're doing</span>
    </div>
  <% else %>
    <%= f.hidden_field :condition_id %>
    <%= f.hidden_field :organization_id %>
  <% end %>
  
  <div class="form-group">
    <%= f.submit "Leave review", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @review.organization || root_path, :class => 'btn btn-default' %>
    &nbsp;
    <%= f.label :rating, "Overall rating", :class => 'control-label' %>
    &nbsp;
    <%= content_tag :div, :class => "stars inline", "data-score" => @review.rating do end %>
  </div>
<% end %>
