<%= form_for @review, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render "shared/error_messages", :object => f.object %>

  <div class="control-group">
    <%= f.label :rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :rating, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :condition_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :condition_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :organization_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :organization_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reviews_path, :class => 'btn' %>
  </div>
<% end %>
