<%= form_for @review, :html => { :class => 'form-inline' } do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  
  <div class="control-group">
    <div class="controls">
      Organization Name
      <%= text_field_tag nil, (@review.organization.name rescue "N/A"), :disabled => "disabled" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :content, "My Review" %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area span12', :rows => 5, :placeholder => "Write your review here" %>
    </div>
  </div>
  <%= f.hidden_field :rating, :class => "rating" %>
  
  <% if current_user.admin? %>
    <div class="control-group">
      <%= f.label :condition_id %>
      <div class="controls">
        <%= f.number_field :condition_id %>
        <span class"inline-helper">Only edit this if you're sure of what you're doing</span>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :organization_id %>
      <div class="controls">
        <%= f.number_field :organization_id %>
        <span class"inline-helper">Only edit this if you're sure of what you're doing</span>
      </div>
    </div>
  <% else %>
    <%= f.hidden_field :condition_id %>
    <%= f.hidden_field :organization_id %>
  <% end %>
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Leave review", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  @review.organization || root_path, :class => 'btn' %>
      &nbsp;
      <%= f.label :rating, "Overall rating", :class => 'control-label' %>
      &nbsp;
      <div class="stars inline"></div>
    </div>
  </div>
<% end %>
