<% redirect ||= nil %>

<%= form_for @review, :html => { :class => 'form-inline' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area span12', :rows => 5, :placeholder => "Write your review here" %>
    </div>
  </div>
  <%= f.hidden_field :condition_id %>
  <%= f.hidden_field :organization_id %>
  <%= f.hidden_field :rating, :class => "rating" %>
  
  <% unless redirect.blank? %>
    <%= hidden_field_tag :redirect, redirect %>
  <% end %>
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Leave review", :class => 'btn btn-primary' %>
      &nbsp;
      <%= f.label :rating, "Overall rating", :class => 'control-label' %>
      &nbsp;
      <div class="stars inline"></div>
    </div>
  </div>
<% end %>
