<div class="review-item">
  <div class="pull-right">
    <%= content_tag :div, :class => "stars inline", "data-score" => review.rating, "data-readonly" => true do end %>
  </div>
  <span class="label label-primary">
    <%= review.user.username rescue "N/A" %>
  </span>
  &nbsp;
  <span class="text-muted">written: <%= review.created_at.strftime("%b %d, %Y") %></span>

  &nbsp;
  <% if can? :edit, review %>
    <%= link_to "edit", edit_review_path(review), :class => "text-muted" %>
  <% end %>
  &nbsp;
  <% if can? :destroy, review %>
    <%= link_to "delete", review_path(review), :class => "text-muted", :method => :delete, :data => { :confirm => "Are you sure?" } %>
  <% end %>
  
  <br /><br />
  <div class="well">
    <%= simple_format review.content, :class => "review_content" %>
  </div>
</div>