<div class="container">
  <div class="footer">
    <ul class="horizontal">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Press", press_path %></li>
      <li><%= link_to "Twitter", APP_CONFIG["twitter_url"], :target => "_blank" %></li>
      <li><%= link_to "Bookmarklet", bookmarklet_path %></li>
      <li><%= link_to "API", api_v1_documentation_path %></li>
      <li><%= link_to "Github Repository", APP_CONFIG["github_repo"], :target => "_blank" %></li>
      <% unless Rails.env.production? %>
        <li><span class="label label-success"><%= Rails.env %></span></li>
      <% end %>
      <li><span id="copyright">Copyright © 2013</span></li>
    </ul>
  </div>
</div>