<div class="masthead">
  <div class="pull-right auth_links">
    <% if user_signed_in? %>
      <span class="muted">
        Hi <%= link_to (current_user.username || current_user.email), edit_user_registration_path, :class => "muted" %>! 
        <% if current_user.admin? %>
          <span class="label">admin</span>
        <% end %>
        &nbsp; | &nbsp;
      </span>
    <% end %>
    <%= link_to "About RevTilt", about_path, :class => "muted" %><span class="muted"> &nbsp; | &nbsp;</span>
    <span class="label label-info">Autism</span>
    <span class="muted">&nbsp; | &nbsp;</span>
    <% if user_signed_in? %>
      <%= link_to "Favorites", favorites_path, :class => "muted" %>
      <span class="muted">&nbsp; | &nbsp;</span>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "muted" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, :class => "muted" %>
    <% end %>
  </div>
  
  <%= link_to "/" do %>
    logo
  <% end %>
</div>