<div class="add-small-top header_bar">
  <div class="row">
    <div class="col-md-2">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", :id => "header_logo" %>
      <% end %>
    </div>
    
    <div class="col-md-5">
      <div class="welcome-question">
        What are you looking for?
      </div>
    </div>
    
    <div class="col-md-5">
      <%= form_tag organizations_path, :method => :get, :class => "form-horizontal" do %>
        <div class="form-group">
          <div class="col-md-5 small-padding">
            <%= select_tag "category", options_for_select({ "all types" => nil }.merge(Organization.category_options), 
                            params[:category]), :class => "form-control" %>
          </div>
          <div class="col-md-4 small-padding">
            <%= text_field_tag "zipcode", params[:zipcode], :placeholder => "Enter Zipcode", :class => "form-control" %>
          </div>
          <div class="col-md-2 small-padding">
            <%= submit_tag "Search", :class => "btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
