<!DOCTYPE html>
<html>
<head>
  <title>RevTilt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render "layouts/header" %>
  </div>
  <br />
  <div class="container">
    <%= render "layouts/search_bar" %>
    <%= yield :above_iframe %>
  </div>
  
  <%= yield :unbounded %>
  
  <div class="container">
    <%= render "shared/flash_messages", :flash => flash %>
    <%= yield %>
  </div>
  
  <hr />
  
  <%= render "layouts/footer" %>
</body>
</html>
