<!DOCTYPE html>
<html>
<head>
  <title>RevTilt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render "layouts/header" %>
    <%= render "shared/flash_messages", :flash => flash %>
  </div>
  
  <%= yield :unbounded %>
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
